
body {
    font-family: 'Anton', sans-serif; 
    font-style: italic;
}
a {
    text-decoration: none;
    color: black;
}
.imgFundo {
    width: 102.5%;
    margin: -10px;
}
.titulo1 {
    position: absolute; 
        top: 11px; 
        left: 86px; 
        color: yellow;
        margin: 10px;
}
.titulo2 {
        position: absolute; 
        top: 10px; 
        left: 90px; 
        color: white;
        margin: 10px;
}
.centro {
    position: absolute;
    width: 550px; 
    top: 350px; 
    left: 460px; 
    color: white;
    font-size: 30px;
}
.acesso{
    position: absolute; 
    top: 20px; 
    left: 60px; 
    width: 100%; 
}
.bloco-amarelo {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-color: yellow;
    padding: 20px;
    width: 200px;
    height: 50px;
}
.logo {
    position: absolute;
    width: 80px; /* Defina a largura desejada */
    height: 80px; /* Defina a altura desejada */
    top: -270px;
    left: -280px;
}
.bloco-preto{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-color: rgb(17, 17, 17);
    padding: 20px;
    width: 530px;
    height: 240px;
    border-radius: 10px;
}

    