body {
    background-color: #141414;
    font-family: 'Anton', sans-serif;
    font-style: italic;
    font-size: 25px;
}

h1 {
    font-family: Impact, fantasy;
    font-weight: 500;
    font-size: 100px;
    font-style: italic;
    position: relative;
    top: 30px;
    left: 70px;
    width: 700px;
    margin-top: 10px;
    padding: 0px;
    color: yellow;
}

h5 {
    font-family: 'Anton', sans-serif;
    margin: 20px;
    color: white;
    text-align: center;
}

h2 {
    font-family: 'Anton', sans-serif;
    position: relative;
    top: -30px;
    left: 70px;
    width: 450px;
    margin-top: 20px;
    padding: 0px;
    color: white;
    font-size: 23px; /* Tamanho de fonte padrão */
}

.imagem1 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1000px;
    top: 120px;
    transform: scale(3.0);
}

.imagem2 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1550px;
    top: 480px;
    transform: scale(3.0);
}

.button {
    position: absolute;
    top: 80%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 20px;
}

.button button {
    background-color: #161614;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 4px #fffb28;
    transition: background-color 0.3s, transform 0.3s;
}

.button button:hover {
    background-color: #161614;
    transform: translateY(-2px);
}

.button button:active {
    background-color: #161614;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}
    @media (max-width: 1440px) {
        body {
            font-size: 22px;
        }
        .imagem1, .imagem2 {
            width: 180px;
        }
        .button {
            font-size: 18px;
        }
    }
    
    @media (max-width: 1024px) {
        body {
            font-size: 20px;
        }
        .imagem1, .imagem2 {
            width: 160px;
        }
        .button {
            font-size: 16px;
        }
    }
    
    @media (max-width: 768px) {
        body {
            font-size: 18px;
        }
        .imagem1, .imagem2 {
            width: 140px;
        }
        .button {
            font-size: 14px;
        }
    }
    
    @media (max-width: 425px) {
        body {
            font-size: 16px;
        }
        .imagem1, .imagem2 {
            width: 120px;
        }
        .button {
            font-size: 12px;
        }
    }
    
    @media (max-width: 375px) {
        body {
            font-size: 14px;
        }
        .imagem1, .imagem2 {
            width: 100px;
        }
        .button {
            font-size: 10px;
        }
    }
    
    @media (max-width: 320px) {
        body {
            font-size: 12px;
        }
        h2 {
            top: 2px;
            left: 20px;
            width: 190px;
            font-size: 12px;
        }
        h1 {
            top: 20px;
            left: 6px;
            width: 200px;
            font-size: 30px 
        }
        .imagem2 {
            transform: scale(1.0);
            left: 150px;
            top: 540px;
        }
        .imagem1 {
            transform: scale(1.0);
            left: 10px;
            top: 470px;
        }
        .button {
            font-size: 8px;
            padding: 10px 20px;
            margin: 10px auto;
            top: 400px;
            left: 15px;
            transform: scale(0.60);
        }
    }