body {
    background-color: #141414;
    font-family: 'Anton', sans-serif;
    font-style: italic;
    font-size: 25px;
}

h1 {
    font-family: Impact, fantasy;
    font-weight: 500;
    font-style: italic;
    position: relative;
    top: 30px;
    left: 70px;
    width: 500px;
    margin-top: 10px;
    padding: 0px;
    color: yellow
}

h5 {
    font-family: 'anton', sans-serif;
    position: relative;
    top: -30px;
    left: 70px;
    width: 450px;
    margin-top: 20px;
    padding: 0px;
    color: white
}

.imagem1 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 700px;
    top: 120px;
    transform: scale(2.0);
}



.imagem2 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1050px;
    top: 250px;
    transform: scale(2.0);
}

.button {
    position: fixed;
    left: 45px;
    top: 470px;
    border:none;
    color: #45a049;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    border-radius: 4px;

}