
body {
    font-family: 'Anton', sans-serif; 
    font-style: italic;
}
a {
    text-decoration: none;
    color: black;
    font-style: italic;
}
.imgFundo {
    width: 102.5%;
    margin: -10px;
}

.titulo {
        position: absolute; 
        top: 10px; 
        left: 150px; 
        color: white;
        margin: 10px;
}
.centro {
    position: absolute;
    width: 300px; 
    top: 400px; 
    left: 400px; 
    color: white;
}
.acesso{
    position: absolute; 
    top: 20px; 
    left: 60px; 
    width: 100%; 
}
.bloco-amarelo {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-color: yellow;
    padding: 20px;
    width: 200px;
    height: 50px;
}
.logo {
    position: absolute;
    width: 80px; /* Defina a largura desejada */
    height: 80px; /* Defina a altura desejada */
    top: -270px;
    left: -280px;
}